<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
  <div id="body" style="font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-size:16px;color:#808080;width:90%;margin: auto; align: left">
    <table background="" style="<%= styles['table'] %>">
      <tr style="<%= styles['tr'] %>">
        <td style="<%= styles['td'] %>text-align:left;">
           <img src="https://avatars.githubusercontent.com/u/2096014?s=3D40&amp;d=3Dhttps%3A%2F%2Ftravis-ci.org%2Fimages%2Fmailer%2Fmascot-avatar-40px.png" 
             style="vertical-align:middle;width:40px;height:40px"> 
           <span style="<%= styles['span'] %>"><strong>
             <a href="<%= results_link %>" style="text-decoration:underline;color:#606060"><%= full_repo_name %></strong>
           </span>
        </td>
      </tr>
    </table>
    <table background="" style="<%= if success; styles['tablegreen']; else; styles['tablered']; end %>">
      <tr style="<%= styles['tr'] %>">
        <td style="<%= styles['td'] %>">
           <span style="<%= styles['span'] %>">
             <strong><%= one_line_feedback %></strong>
           </span>
        </td>
      </tr>
    </table>
    <table background="" style="<%= styles['table'] %>">
      <tr style="<%= styles['tr'] %>">
        <td style="<%= styles['td'] %>text-align:left;">
           <span style="<%= styles['span'] %>">
               <strong>Bulletin</strong>
           </span>
        </td>
      </tr>
      <tr style="<%= styles['tr'] %>">
        <td style="<%= styles['td'] %>">
           <span style="<%= styles['spansmall'] %>">
             Commit: <a href="http://github.com/<%= full_repo_name %>/commits/<%= sha %>"><%= sha %></a>
           </span>
        </td>
      </tr>
      <tr style="<%= styles['tr'] %>">
        <td style="<%= styles['td'] %>">
           <span style="<%= styles['spansmall'] %>">
             Repository: <a href="http://github.com/<%= full_repo_name %>/tree/<%= branch %>"><%= full_repo_name %></a> (<%= branch %> branch)
           </span>
        </td>
      <tr style="<%= styles['tr'] %>">
        <td style="<%= styles['td'] %>">
           <span style="<%= styles['spansmall'] %>">
             Full results: <a href="<%= results_link %>">Test results for commit <%= sha %></a>
           </span>
        </td>
      </tr>
      <tr style="<%= styles['tr'] %>">
        <td style="<%= styles['td'] %>">
           <span style="<%= styles['spansmall'] %>"> &nbsp; </span>
        </td>
      </tr>
      <tr style="<%= styles['tr'] %>">
        <td style="<%= styles['td'] %>">
           <span style="<%= styles['spansmall'] %>"><a href="<%= results_link %>"><img src="<%= still_image_link %>" width="100%"></a></span>
        </td>
      </tr>
    </table>
    <table background="" style="<%= styles['table'] %> width:100%;">
      <tr style="<%= styles['tr'] %>">
        <td style="<%= styles['td'] %>text-align:left;">
           <span style="<%= styles['span'] %>">
             <strong>Detailed Results: NSH Console Output</strong>
           </span>
        </td>
      </tr>
      <tr style="<%= styles['tr'] %>">
        <td style="<%= styles['td'] %>">
           <span style="<%= styles['span'] %>font-size:10px;">
             <pre style="<%= styles['shell'] %>"><%= detailed_results %></pre>
           </span>
        </td>
      </tr>
    </table>
  </div>  
</body>
</html>